@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Inter', sans-serif;
	scroll-behavior: smooth;
}

.rpv-core__viewer {
	overflow-y: auto !important;
}

.dark .special-label {
	color: rgb(238, 238, 238) !important;
}

.loading {
	background-color: var(--loading-grey);
	background: linear-gradient(
			100deg,
			rgba(255, 255, 255, 0) 40%,
			rgba(255, 255, 255, 0.5) 50%,
			rgba(255, 255, 255, 0) 60%
		)
		#e7e4e4;
	background-size: 200% 100%;
	background-position-x: 180%;
	animation: 1s loading ease-out infinite;
}

@keyframes loading {
	to {
		background-position-x: -20%;
	}
}

.scroll-hide {
	scrollbar-width: none;
	-ms-overflow-style: none;
}
.scrool-hide::-webkit-scrollbar {
	display: none;
}

.scrool-hide::-webkit-scrollbar-track {
	height: 0;
}
